/*
black: #363439
white: #FFF
fawn-pug-colour: #ECE5D6
light blue: #92C8CD
*/

/* main bits */

body {
    color: #363439;
    font-family: consolas, monaco, monospace;
}

a {
    color: #363439;
    text-decoration: none;
    outline: none;
}

button {
    outline: none;
}

#main-panel {
    border: 1px solid #EDE0C5;
    border-radius: 4px;
    background-color: #ECE5D6;
    width: 765px;
    display: none;
    white-space: nowrap;
    margin-bottom: 10px;
}

.container {
    padding: 0 20px 20px;
    display: inline-block;
    vertical-align: top;
    height: 408px;
}

.vertical-divider {
    border: 2px solid #fff;
    padding: 0;
    margin: 20px 0;
}

.horizontal-divider {
    border: 2px solid #fff;
}

.knob {
    color: #363439;
}

/* channels */

#channel-headers {
    padding: 0;
    margin-bottom: 0;
    z-index: 2;
    border-bottom: 4px solid white;
}

#channel-headers li {
    display: inline-block;
    padding: 5px;
    margin-bottom: 0;
}

#channel-headers li.active {
    border-bottom: 4px solid #92C8CD;
    font-weight: bold;
    margin-bottom: -4px;
}

.channel {
    display: inline-block;
    padding: 5px;
    border-top: 0;
}

.channel .section {
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
}

.channel .section:last-child {
    border: none;
}

.channel .section p {
    text-align: center;
}

.wave {
    position: relative;
    height: 56px;
    width: 50px;
}

.wave li {
    font-size: 10px;
    font-weight: bold;

    position: absolute;
    top: 16px;
    left: 14px;

    display: none;
}

.wave li.active {
    display: block;
}

.wave .prev {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #fff;

    position: absolute;
    top: 12px;
    left: -3px;
}

.wave .next {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;

    position: absolute;
    top: 12px;
    right: -3px;
}

/* sequencer */

.sequence-label {
    width: 100px;
}

.sequence {
    padding-left: 0;
    position: relative;
    margin-right: 20px;
}

.sequence li {
    display: inline-block;
}

.beat {
    height: 22px;
    width: 22px;
    background-color: #fff;
    margin-right: 5px;
}

.beat.on {
    background-color: #92C8CD;
}

.clear-sequence {
    width: 0; 
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    top: 8px;
}

#indicator-seq {
    display: inline-block;
    vertical-align: 16%;
}

#indicator-seq li {
    background: #fff;
    height: 10px;
    transition: background 0.2s ease-in;
    margin-right: 5px;
}

#indicator-seq li.active {
    background: #92C8CD;
}

/* master panel */

#master {
    margin: 10px 0 0 20px;
    white-space: normal;
}

#tempo {
    width: 36px;
    color: #fff;
    background: #92C8CD;
    border: none;
    padding: 3px 0 3px 3px;
}

#division {
    background: #92C8CD;
    color: #fff;
    border: 2px solid #92C8CD;
    border-left: 0;
    border-right: 0;
}

.sequencer-control {
    position: relative;
    padding: 10px;
    border-radius: 10em;
    border: 0 solid rgba(0, 255, 0, 0.5);
    width: 3em;
    height: 3em;
    background-color: #ECE5D6;
}

#stop:before {
    z-index: 2;
    top: 0.84em;
    left: 0.84em;
    width: 1.41em;
    height: 1.41em;
    background: #fff;
    position: absolute;
    content: " ";
}

#start:before {
    z-index: 2;
    top: 0.66em;
    left: 1.08em;
    width: 0;
    height: 0;
    border: 0.95em solid transparent;
    border-left-color: #fff;
    border-left-width: 1.6em;
    position: absolute;
    content: " ";
}

.sequencer-control:after {
    position: absolute;
    content: " ";
}

#stop.active:before {
    background: #92C8CD;
}

#start.active:before {
    border-left-color: #92C8CD;
}

#stop {
    margin-left: -10px;
}

#master-controls {
    float: right;
}

#speaker {
    width: 100px;
    float: right;
}

#speaker li {
    list-style: none;
    height: 10px;
}