body {
  background: #111;
  color: rgba(0, 255, 0, 0.5);
  font-family: consolas;
}

a {
    color: rgba(0, 255, 0, 0.7);
}

.container {
    border: 1px solid #eee;
    padding: 0 20px 20px;
    margin-bottom: 10px;
}

#channels {
  display: inline-block;
}

#sequencer {

}

.sequence-label {
    width: 100px;
}

.sequence li {
    display: inline-block;
    
}

.beat {
  height: 50px;
  width: 22px;
  border: 1px solid #eee;
}

#indicator-seq {
  display: inline-block;
  padding: 10px;
  vertical-align: 16%;
}

#indicator-seq li {
    height: 10px;
    transition: background 0.3s ease-in;
}

#indicator-seq li.active {
    background: rgba(0, 255, 0, 0.8);
}

.node {
  display: inline-block;
    border: 1px solid #eee;
    padding: 5px;
}

.node .section {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #eee;
}

.node .section:last-child {
  border: none;
}

li.active {
    color: rgba(0, 255, 0, 1.0);
}

.light-outer {
    background: rgba(0, 255, 0, 0.5);
    border: 1px solid rgba(0, 255, 0, 0.5);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 2px 0 0 2px;
}

.light-inner {
    border: 1px solid rgba(0, 255, 0, 0.5);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 2px 0 0 2px;
    background: #111;
}

.on .light-inner {
    background: rgba(0, 255, 0, 0.5);
}

.sequencer-control {
  position: relative;
  padding: 0.6em;
  border-radius: 10em;
  border: 0 solid rgba(0, 255, 0, 0.5);
  width: 3em;
  height: 3em;
  background-color: black; /* for now */
}

#tempo {
  width: 35px;
  vertical-align: 30%;
  color: rgba(0, 255, 0, 0.5);
  background: black;
  border: 1px solid rgba(0, 255, 0, 0.5);
}

#stop:before {
  z-index: 2;
  top: 0.84em;
  left: 0.84em;
  width: 1.41em;
  height: 1.41em;
  background: rgba(0, 255, 0, 0.5);
  position: absolute;
  content: " ";
}

#start:before {
  z-index: 2;
  top: 0.66em;
  left: 1.08em;
  width: 0;
  height: 0;
  border: 0.95em solid transparent;
  border-left-color: rgba(0, 255, 0, 0.5);
  border-left-width: 1.6em;
  position: absolute;
  content: " ";
}

.sequencer-control:after {
  position: absolute;
  content: " ";
}

#stop.active {
  background: rgba(0, 255, 0, 1.0);
}

#start.active {
  border-left-color: rgba(0, 255, 0, 1.0);
}


/* all the slider stuff */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.1px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.8px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #00ff00;
  border-radius: 0px;
  border: 0px solid #562425;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #ffffff;
  border: 1px solid #ffffff;
  height: 17px;
  width: 22px;
  border-radius: 0px;
  background: #00ff00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #1aff1a;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.8px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #00ff00;
  border-radius: 0px;
  border: 0px solid #562425;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #ffffff;
  border: 1px solid #ffffff;
  height: 17px;
  width: 22px;
  border-radius: 0px;
  background: #00ff00;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #00e600;
  border: 0px solid #562425;
  border-radius: 0px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #00ff00;
  border: 0px solid #562425;
  border-radius: 0px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #ffffff, 0px 0px 1px #ffffff;
  border: 1px solid #ffffff;
  height: 17px;
  width: 22px;
  border-radius: 0px;
  background: #00ff00;
  cursor: pointer;
  height: 2.8px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #00ff00;
}
input[type=range]:focus::-ms-fill-upper {
  background: #1aff1a;
} 