@import "./variables.scss";

/* main bits */

body {
    color: $black;
    font-family: $font;
}

a {
    color: $black;
    text-decoration: none;
    outline: none;
}

button {
    outline: none;
}

#main-panel {
    border: 1px solid $darkfawn;
    border-radius: 4px;
    background-color: $fawn;
    width: 815px;
    display: none;
    white-space: nowrap;
    margin-bottom: 10px;
    position: relative;
}

.container {
    padding: 0 20px 20px;
    display: inline-block;
    vertical-align: top;
    height: 470px;
}

.vertical-divider {
    border: 2px solid $white;
    padding: 0;
    margin: 20px 0;
    height: 485px;
}

.horizontal-divider {
    border: 2px solid $white;
}

.knob {
    color: $black;
}

#synth {
    padding-left: 24px;
    padding-right: 15px;
}

/* channels */

#channel-headers {
    padding: 0;
    margin-bottom: 0;
    margin-top: 12px;
    z-index: 2;
    border-bottom: 4px solid white;
}

#channel-headers li {
    display: inline-block;
    padding: 5px;
    margin-bottom: 0;
}

#channel-headers li.active {
    border-bottom: 4px solid $lightblue;
    font-weight: bold;
    margin-bottom: -4px;
}

.channel {
    display: inline-block;
    border-top: 0;
}

.channel .section {
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
}

.channel .section:first-child {
    padding-left: 0;
}

.channel .section:last-child {
    border: none;
    padding-right: 0;
}

.channel .section p {
    text-align: center;
}

.channel .section div {
    margin-bottom: 5px;
}

.wave {
    position: relative;
    height: 66px;
    width: 60px;
}

.wave li {
    font-size: 10px;
    font-weight: bold;

    position: absolute;
    top: 25px;
    left: 19px;

    display: none;
}

.wave li.active {
    display: block;
}

.wave .prev {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid $white;

    position: absolute;
    top: 20px;
    left: -3px;
}

.wave .next {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $white;

    position: absolute;
    top: 20px;
    right: -3px;
}

/* sequencer */

.sequence-label {
    width: 100px;
}

.sequence {
    padding-left: 0;
    position: relative;
    margin-right: 20px;
}

.sequence li {
    display: inline-block;
}

.beat {
    height: 25px;
    width: 25px;
    background-color: $white;
    margin-right: 5px;
}

.beat.on {
    background-color: $lightblue;
}

.clear-sequence {
    width: 0; 
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $white;
    position: absolute;
    top: 8px;
}

#indicator-seq {
    display: inline-block;
    vertical-align: 16%;
}

#indicator-seq li {
    background: $white;
    height: 10px;
    transition: background 0.2s ease-in;
    margin-right: 5px;
}

#indicator-seq li.active {
    background: $lightblue;
}

/* master panel */

#master {
    margin: 10px 0 0 20px;
    white-space: normal;
}

#tempo {
    width: 36px;
    color: $white;
    background: $lightblue;
    border: none;
    padding: 3px 0 3px 3px;
    font-size: 14px;
}

#division {
    background: $lightblue;
    color: $white;
    border: 2px solid $lightblue;
    border-left: 0;
    border-right: 0;
    font-size: 14px;
}

.sequencer-control {
    position: relative;
    padding: 10px;
    border-radius: 10em;
    border: 0 solid rgba(0, 255, 0, 0.5);
    width: 3em;
    height: 3em;
    background-color: $fawn;
}

#stop:before {
    z-index: 2;
    top: 0.84em;
    left: 0.84em;
    width: 1.41em;
    height: 1.41em;
    background: $white;
    position: absolute;
    content: " ";
}

#start:before {
    z-index: 2;
    top: 0.66em;
    left: 1.08em;
    width: 0;
    height: 0;
    border: 0.95em solid transparent;
    border-left-color: $white;
    border-left-width: 1.6em;
    position: absolute;
    content: " ";
}

.sequencer-control:after {
    position: absolute;
    content: " ";
}

#stop.active:before {
    background: $lightblue;
}

#start.active:before {
    border-left-color: $lightblue;
}

#stop {
    margin-left: -10px;
}

#master-controls {
    float: right;
}

#speaker {
    width: 100px;
    position: absolute;
    right: 24px;
    bottom: 0;
}

#speaker li {
    list-style: none;
    height: 10px;
}
