@import "./variables.scss";
@import "./channels.scss";
@import "./controls.scss";
@import "./master.scss";
@import "./sequencer.scss";

/* main bits */

body {
    color: $black;
    font-family: $font;
}

a {
    color: $black;
    text-decoration: none;
    outline: none;
}

button {
    outline: none;
}

#main-panel {
    border: 1px solid $darkfawn;
    border-radius: 4px;
    background-color: $fawn;
    width: 815px;
    white-space: nowrap;
    margin-bottom: 10px;
    position: relative;
}

.container {
    padding: 0 20px 20px;
    display: inline-block;
    vertical-align: top;
    height: 470px;
}

.vertical-divider {
    border: 2px solid $white;
    padding: 0;
    margin: 20px 1px;
    height: 485px;
}

.horizontal-divider {
    border: 2px solid $white;
}

#synth {
    padding-left: 24px;
    padding-right: 15px;
}
