.channel-headers {
  padding: 0;
  margin-bottom: 0;
  margin-top: 12px;
  z-index: 2;
  border-bottom: 4px solid white;

  li {
    display: inline-block;
    padding: 5px;
    margin-bottom: 0;

    &.active {
      border-bottom: 4px solid $lightblue;
      font-weight: bold;
      margin-bottom: -4px;
    }

    a {
      cursor: pointer;
    }
  }
}

.channel {
  border-top: 0;
  display: none;

  &.active {
    display: inline-block;
  }

  .section {
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border: none;
      padding-right: 0;
    }

    p {
      text-align: center;
    }

    div {
      margin-bottom: 5px;
    }
  }
}
