.knob {
  canvas {
    height: 100%;
    width: 100%;
  }

  input {
    -webkit-appearance: none;
    background: 0;
    border: 0;
    color: $white;
    font-family: $font;
    font-size: 12px;
    padding: 0;
    position: absolute;
    text-align: center;
    vertical-align: middle;
  }

  p {
    font-size: 0.5rem;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.selector {
  border: 1px solid $white;
  border-radius: 5px;
  box-sizing: border-box;
  color: $white;
  font-size: 0.5rem;
  height: $input-height;
  padding: 0.65rem 1.5rem 0 0.5rem;
  position: relative;
  width: 3.5rem;

  .control {
    border: 0.4rem solid transparent;
    cursor: pointer;
    position: absolute;

    &.decrease {
      border-top-color: $white;
      border-top-width: 0.5rem;
      right: 2px;
      bottom: -3px;
    }

    &.increase {
      border-bottom-color: $white;
      border-bottom-width: 0.5rem;
      right: 2px;
      top: -3px;
    }
  }
}

.sequencer-control {
  background: $fawn;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;
  font-family: $font;
  font-size: 0.5rem;
  height: $input-height;
  margin-left: 0.5rem;
  padding: 0.6rem 0.5rem 0.5rem 1.5rem;
  position: relative;
  text-transform: uppercase;
  width: 4rem;

  &.start {
    &:before {
      border: 0.4rem solid transparent;
      border-left-color: $white;
      border-left-width: 0.5rem;
      content: " ";
      left: 0.65rem;
      height: 0;
      position: absolute;
      top: 0.5rem;
      width: 0;
      z-index: 2;
    }

    &.active:before {
      border-left-color: $lightblue;
    }
  }

  &.stop {
    &:before {
      background: $white;
      content: " ";
      height: 0.75rem;
      left: 0.5rem;
      position: absolute;
      top: 0.5rem;
      width: 0.75rem;
      z-index: 2;
    }

    &.active:before {
      background: $lightblue;
    }
  }
}
