/* master panel */

.master {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .title {
    padding: 0 1rem;

    h2 {
      font-size: 1.25rem;
      margin: 0;
    }
  }

  .screen {
    border: 1px solid $white;
    border-radius: 3px;
    flex-grow: 1;
    height: 3rem;
  }

  .controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 45%;

    .knob {
      margin: 0.8rem 0.8rem 0 0;
    }
  }
}

.division {
  background: $lightblue;
  color: $white;
  border: 2px solid $lightblue;
  border-left: 0;
  border-right: 0;
  font-size: 14px;
}

.sequencer-control {
  background: $fawn;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;
  font-family: $font;
  font-size: 0.5rem;
  margin-left: 0.5rem;
  padding: 0.6rem 0.5rem 0.5rem 1.5rem;
  position: relative;
  text-transform: uppercase;

  &.start {
    &:before {
      border: 0.4rem solid transparent;
      border-left-color: $white;
      border-left-width: 0.5rem;
      content: " ";
      left: 0.65rem;
      height: 0;
      position: absolute;
      top: 0.5rem;
      width: 0;
      z-index: 2;
    }

    &.active:before {
      border-left-color: $lightblue;
    }
  }

  &.stop {
    &:before {
      background: $white;
      content: " ";
      height: 0.75rem;
      left: 0.5rem;
      position: absolute;
      top: 0.5rem;
      width: 0.75rem;
      z-index: 2;
    }

    &.active:before {
      background: $lightblue;
    }
  }
}

#speaker {
  width: 100px;
  position: absolute;
  right: 24px;
  bottom: 0;

  li {
    list-style: none;
    height: 10px;
  }
}
